header {
    background-color: brown;
    color: cornsilk;
    font-style: normal;
    text-align: center;
    justify-content: center;
    height: 50px;
    margin: 10px;
}

.manager-profile-card {
    box-shadow: 0 2px 4px 0px;
    width: 25%;
    padding: 15px;
}

.card-header {
    background-color: rgb(85, 127, 161);
    color: white;
    padding: 5px;
}

.card-details {
    border: darkgray;
    padding: 5px;
}